@import "reset.css";

:root {
  --white: #fefefe;
  --black: #121212;
  --yellow: #ffc400;
  --grey: #6D7588;
  --green: #03ac0e;
  --dark-red: #ab2538;
  --container-xs: 320px;
  --container-sm: 640px;
  --container-md: 720px;
  --container-lg: 960px;
  --container-xl: 1180px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024x;
  --breakpoint-xl: 1200x;
}

html {
  scroll-behavior: smooth;
}

body {
  letter-spacing: .3px;
  line-height: 1.5;
}

body, input, textarea, button {
  font-family: 'Rubik', sans-serif;
}

main {
  min-height: 100vh;
  position: relative;
}

.skip-content {
  display: block;
  z-index: 999;
  position: absolute;
  top: -100%;
  left: 40px;
  padding: 16px;
  color: var(--white);
  background: var(--black);
  text-decoration: none;
}

.skip-content:focus {
  top: 40px;
  outline: 4px solid var(--yellow);
}

.header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  background-color: var(--white);
  z-index: 99;
}

.nav {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 10px 0 26px rgba(18, 18, 18, .1);
}

.nav__container {
  display: block;
  width: 100%;
  max-width: var(--container-xs);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav__brand {
  flex-shrink: 0;
  height: 60px;
}

.nav__brand-link {
  display: flex;
  align-items: center;
  text-decoration: unset;
  color: var(--dark-red);
  height: 100%;
}

.nav__brand-img {
  width: 48px;
  display: inline-block;
  margin-right: 10px;
}

.nav__brand-text {
  font-size: 16px;
  font-weight: 600;
}

.nav__menu {
  position: absolute;
  display: block;
  height: auto;
  top: 100%;
  left: 0;
  width: 100%;
  list-style-type: none;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-left: calc((100% - var(--container-xs)) / 2);
  padding-top: 40px;
  padding-bottom: 40px;
  background: var(--white);
  transform: translateX(-100%);
  transition: transform 200ms ease;
  z-index: 3;
}

.nav__menu--active {
  transform: translateX(0);
}

.nav__menu-item:not(.nav__menu-item:first-child) {
  margin-top: 20px;
}

.nav__link {
  display: flex;
  align-items: center;
  min-height: 44px;
  min-width: 44px;
  width: max-content;
  font-size: 16px;
  font-weight: 500;
  color: var(--black);
  text-decoration: none;
  border-bottom: 1px solid;
  border-bottom-color: transparent;
  transition: border-bottom-color 200ms ease;
}

.nav__link:hover, .nav__link:focus {
  border-bottom-color: var(--black);
  outline: none;
}

.nav__toggler {
  width: 44px;
  height: 44px;
}

.nav__toggler-button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border-radius: 4px;
  background: var(--white);
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 1px solid;
  border-color: transparent;
  transition: border-color 200ms ease;
}

.nav__toggler-button:hover, .nav__toggler-button:focus {
  border-color: var(--black);

}

/* hero/jumobtron section */
.hero {
  display: block;
  width: 100%;
  height: 300px;
  margin-top: 80px;
}

.hero__figure {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.hero__figure-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.favorite {
  margin-top: 80px;
}

/* list restaurant */
.restaurant {
  display: block;
  width: 100%;
  padding: 40px 0;
  scroll-margin-top: 80px;
}

.restaurant__container {
  width: 100%;
  max-width: var(--container-xs);
  margin: 0 auto;
}

.restaurant__heading {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: .75px;
  color: var(--black);
  text-align: center;
  margin-bottom: 24px;
}

.restaurant__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  row-gap: 28px;
}

.restaurant__list-state {
  font-size: 20px;
  font-weight: 500;
}

.restaurant__list-state,
.detail-restaurant__review-state {
  font-size: 16px;
  color: var(--grey);
  text-align: center;
  padding: 16px 0;
}

.restaurant-item {
  display: block;
  width: 100%;
  box-shadow: 5px 10px 36px rgba(18, 18, 18, .05);
}

.restaurant-item__card {
  display: block;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
  background: var(--white);
}

.restaurant-item__card-image {
  width: 100%;
  display: block;
  height: 160px;
}

.restaurant-item__card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.restaurant-item__card-content {
  padding: 16px;
}

.restaurant-item__card-content > * + * {
  margin-top: 10px;
}

.restaurant-item__rating,
.detail-restaurant__rating {
  display: flex;
  align-items: center;
}

.restaurant-item__rating-icon,
.detail-restaurant__rating-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.restaurant-item__rating-text,
.detail-restaurant__rating-text {
  font-size: 16px;
  letter-spacing: .5px;
  line-height: 1;
  color: var(--grey);
  display: inline-block;
  margin-top: 3px;
}

.restaurant-item__name {
  display: inline-block;
  font-size: 18px;
  line-height: 44px;
  font-weight: 500;
  color: var(--black);
  text-decoration: none;
}

.restaurant-item__name:hover {
  text-decoration: underline;
}

.restaurant-item__location {
  display: flex;
  align-items: center;
}

.restaurant-item__location-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  opacity: .5;
}

.restaurant-item__location-text,
.detail-restaurant__location-text {
  font-size: 16px;
  letter-spacing: .5px;
  line-height: 1;
  color: var(--grey);
}

.restaurant-item__description {
  margin-top: 0;
}

.restaurant-item__description,
.detail-restaurant__description {
  font-size: 16px;
  color: var(--black);
}

.detail-restaurant__description {
  text-align: justify;
}

/* footer */

.footer {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  background: var(--black);
}

.footer__copyright {
  width: 100%;
  max-width: var(--container-xs);
  margin: auto;
  font-size: 14px;
  color: var(--white);
  letter-spacing: 1px;
  text-align: center;
}

/* detail restaurant */
.detail-restaurant {
  display: block;
  padding: 100px 0;
}

.detail-restaurant__container {
  padding-top: 280px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.detail-restaurant__content {
  padding-left: calc((100% - var(--container-xs)) / 2);
  padding-right: calc((100% - var(--container-xs)) / 2);
  padding-top: 20px;
  position: relative;
  z-index: 2;
  background-color: var(--white);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.detail-restaurant__state {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: .5px;
  color: var(--grey);
  text-align: center;
}

.detail-restaurant__figure {
  display: block;
  height: 300px;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.detail-restaurant__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.detail-restaurant__content-section {
  margin-bottom: 20px;
}

.detail-restaurant__title {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: .75px;
  color: var(--black);
  margin-bottom: 16px;
}

.detail-restaurant__subheading {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: .5px;
  color: var(--black);
  margin-bottom: 8px;
}

.detail-restaurant__rating-icon {
  margin-left: 8px;
}

.detail-restaurant__location-text {
  color: var(--black);
}

.detail-restaurant__content-row {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.detail-restaurant__menu-list {
  list-style-type: disc;
  list-style-position: inside;
}

.detail-restaurant__list-item {
  font-size: 16px;
  line-height: 1.5;
  color: var(--black);
}

.detail-restaurant__reviews {
  width: 100%;
  height: auto;
  max-height: 500px;
  overflow-y: auto;
  margin-bottom: 20px;
}

.detail-restaurant__review-list {
  list-style-type: none;
  display: block;
}

.detail-restaurant__review-item:not(.detail-restaurant__review-item:last-child) {
  margin-bottom: 20px;
}

.detail-restaurant__review-state {
  font-size: 16px;
  color: var(--grey);
  text-align: center;
  padding: 16px 0;
}

.review {
  display: flex;
  flex-direction: column;
}

.review > * + * {
  margin-top: 4px;
}

.review__title {
  font-size: 16px;
  font-weight: 500;
  color: var(--black);
}

.review__review {
  font-size: 16px;
  line-height: 1.5;
  color: var(--black);
}

.review__date {
  font-size: 14px;
  color: var(--grey);
}

#review-list,
#review-container {
  padding-left: calc((100% - var(--container-xs)) / 2);
  padding-right: calc((100% - var(--container-xs)) / 2);
}

.review-input {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.review-input__title {
  font-size: 18px;
  font-weight: 600;
  color: var(--black);
  align-self: flex-start;
}

.review-input__input,
.review-input__textarea {
  width: 100%;
  border-radius: 8px;
  padding: 12px;
  font-size: 16px;
  color: var(--black);
  font-weight: 500;
  letter-spacing: .5px;
  line-height: 1.5;
  box-sizing: border-box;
  margin-top: 12px;
  border: 1px solid var(--grey);
}

.review-input__textarea {
  resize: vertical;
}

.review-input__input:focus,
.review-input__textarea:focus {
  outline: 6px solid rgb(221, 217, 217);
}

.review-input__submit,
.favorite-button {
  display: block;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .5px;
  cursor: pointer;
  border-radius: 8px;
}

.review-input__submit {
  width: 120px;
  margin-top: 12px;
  color: var(--white);
  background-color: var(--grey);
  border: none;
}

.review-input__submit:hover {
  background-color: #646d82;
}

.review-input__submit:focus {
  outline: 6px solid rgb(221, 217, 217);
}

.favorite-button {
  min-width: 160px;
  padding: 0 16px;
  box-shadow: 5px 10px 36px rgba(18, 18, 18, .05);
  position: fixed;
  z-index: 4;
  bottom: 50px;
  right: 50px;
}

.favorite-button--primary {
  color: var(--white);
  background-color: var(--green);
  border: none;
}

.favorite-button--primary:hover {
  background-color: #019e0c;
}

.favorite-button--primary:focus,
.favorite-button--secondary:focus {
  outline: 6px solid #c1fcc5;
}

.favorite-button--secondary {
  color: var(--green);
  background-color: var(--white);
  border: 1px solid var(--green);
}

.favorite-button--secondary:hover {
  background-color: #e8ffe9;
}

/* snackbar */
.snackbar {
  position: fixed;
  width: 100%;
  max-width: 320px;
  right: 20px;
  top: calc(80px + 20px);
  box-sizing: border-box;
  z-index: 4;
  padding: 20px;
  display: none;
}

.snackbar--open {
  display: block;
}

.snackbar__message {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .5px;
  color: var(--black);
}

.snackbar--success {
  background-color: #81f489;
  border: 1px solid var(--green);
}

.snackbar--error {
  background-color: #f5a7b3;
  border: 1px solid var(--dark-red);
}